body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c2129;
}

h2 {
  color: rgb(221,96,178);
  font-weight: 400;
}

content-container {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}