body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(28, 33, 41);
}

content-container {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}